doctype html
html
  head
    title Color Composer

    meta(name='viewport', content='width=device-width, user-scalable=no')
    meta(property='og:title', content='My Synesthetic Masterpiece')
    meta(property='og:description', content='Color Composer from the Nelson-Atkins Museum of Art.')
    meta(property='og:type', content='video.other')
    meta(property='og:image', content= s3Path + '/' + uuid + '.jpg')
    meta(property='og:url', content= rootUrl + '/composition/' + uuid)

    link(rel='stylesheet', href='/composition-main.css')
    //- link(rel='stylesheet', href='/css/videojs-sublime-skin.min.css')
    //- link(href="//vjs.zencdn.net/5.11/video-js.min.css" rel="stylesheet")
    //- script(src="//vjs.zencdn.net/5.11/video.min.js")

  body#composition-detail
    div#composition-wrap
      img#logo(src='/img/logo.svg' alt='Color Composer')
      //- video(width='100%', height='100%', poster=`${s3Path}/${uuid}.jpg`, controls, data-setup='{}', class="video-js vjs-default-skin vjs-big-play-centered", preload='auto')
      video(width='100%', height='100%', poster=`${s3Path}/${uuid}.jpg`, controls, preload='auto')
        source(src=`${s3Path}/${uuid}.mp4`)
        source(src=`${s3Path}/${uuid}.webm`)

      ul#composition-share
        li.share-item#facebook
          a(href=`http://www.facebook.com/share.php?u=${rootUrl}/t/${uuid}&amp;title=#BlochGalleriesKC`)
            img(src='/img/facebook.svg')
            span Facebook
        li.share-item#twitter
          a(href=`http://twitter.com/share?text=#BlochGalleriesKC&url=${rootUrl}/t/${uuid}`)
            img(src='/img/twitter.svg')
            span Twitter
        li.share-item#download
          a(href=`${s3Path}/${uuid}.mp4` download)
            span Download
