doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Color Composer
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/main.css')
  body
    main
      nav.control-panel
        div.logo-wrap.controls-wrap
          img.main-logo(src='img/logo.svg' alt='Color Composer')
        div.main-controls-wrap.controls-wrap
          ul.main-controls.controls
            li.new
              img(src='img/new.svg' alt='New Canvas')
            li.undo
              img(src='img/undo.svg' alt='Undo Last')
            li.palette
              ul.palette-colors
                each color, index in config.palette.colors
                  li
                    if index == 0
                      svg.palette-color.palette-selected(width=config.palette.selectedColorSize, height=config.palette.selectedColorSize)
                        rect(width='100%', height='100%', fill=color, rx=config.palette.selectedColorSize / 2, ry=config.palette.selectedColorSize / 2)
                    else
                      svg.palette-color(width=config.palette.colorSize, height=config.palette.colorSize)
                        rect(width='100%', height='100%', fill=color)
            li.play-stop
              img.play(src='img/play.svg' alt='Play')
              img.stop(src='img/stop.svg' alt='Stop')
            li.share(style="visibility:hidden;")
              img(src='img/share.svg' alt='Share')
          div.aux-controls-wrap.controls-wrap
            ul.aux-controls.controls
              li.tips
                img(src='img/tips.svg' alt='Tips')
      canvas(id=config.canvasId)
      img#canvas-bg(src='img/canvas-bg.jpg', style='display: none;')
    div.overlay.tips
      div.contents
        div.header <span>x</span> Tips
        div.card-wrap
          article.current
            div.wrap
              div.title Create a #[em dynamic] arrangement of shapes and lines.
              div.text Kandinsky often clustered his geometric forms toward one-third of the canvas.
          article.next
            div.wrap
              div.text Try including both geometric and organic shapes to create visual texture.
          article.third
            div.wrap
              div.title Don’t overthink your composition!
              div.text As Kandinsky wrote, "Color is the keyboard, the eyes are the harmonies, the soul is the piano with many strings. The artist is the hand that plays, touching one key or another, to cause vibrations in the soul."
          article
            div.wrap
              div.title What mood are you trying to evoke?
              div.text Match your color choices to that emotion, but try to include some surprising accent colors.
          article
            div.wrap
              div.title Include some circles!
              div.text Kandinsky claimed "of the three primary forms, [the circle] points most clearly to the fourth dimension."
          article
            div.wrap
              div.title Don’t be afraid to overlap your shapes.
              div.text Kandinsky often layered geometric forms in his paintings.
        div.footer
          span.current 0
          span.sep of
          span.next 0
  script(src='js/lib/jquery.min.js')
  script(src='js/lib/paper-full.min.js')
  script.
    paper.install(window);
    const canvas = document.getElementById('#{config.canvasId}');
    paper.setup(canvas);
  script(src='js/lib/animatePaper.min.js')
  script(src='js/main.js')
