doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/main.css')
  body
    main
      //- div.channel
      //-   canvas#picker(width='50px', height='50%')
      nav.control-panel
        div.logo-wrap.controls-wrap
          img.main-logo(src='img/logo.svg' alt='The Color of Sound')
        div.main-controls-wrap.controls-wrap
          ul.main-controls
            li.new
              img(src='img/new.svg' alt='New Canvas')
            li.undo
              img(src='img/undo.svg' alt='Undo Last')
            li.palette
              ul.palette-colors
                each color, index in palette.colors
                  li
                    if index == 0
                      svg.palette-color.palette-selected(width=palette.selectedColorSize, height=palette.selectedColorSize)
                        rect(width='100%', height='100%', fill=color, rx=palette.selectedColorSize / 2, ry=palette.selectedColorSize / 2)
                    else
                      svg.palette-color(width=palette.colorSize, height=palette.colorSize)
                        rect(width='100%', height='100%', fill=color)
            li.play
              img(src='img/play.svg' alt='Play')
            li.share
              img(src='img/share.svg' alt='Share')
        div.aux-controls-wrap.controls-wrap
          ul.aux-controls
            li.tips
              img(src='img/tips.svg' alt='Tips')
      canvas#mainCanvas(style='width:100%;height:100%')
  script(src='js/lib/jquery.min.js')
  //- script(src='js/lib/hammer.min.js')
  //- script(src='js/lib/jquery.hammer.js')
  script(src='js/lib/paper-full.min.js')
  //- script(src='js/lib/Tone.min.js')
  //- script(src='js/lib/dollar.js')
  //- script(type='text/x-paperscript', src='js/paperscript/test.js', canvas='mainCanvas')
  script(src='js/main.js')
